#showinfor {
    width: 100px;
    height: 130px;
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 250px);
    z-index: 3;
    color: red;
    background: greenyellow;
    border: solid 1px;
    opacity: 0.8;
    display: none;
}

#test {
    width: 2500px;
    height: 400px;
    position: fixed;
    background-color: #fff;

    opacity: 0.8;
}
    